html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AB644B;
    padding: 0;
}

.logo {
    font-size: 3rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    background-color: #AB644B;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
}

.main-nav .nav-list {
    display: flex;
    gap: 1.5rem;
}

.dropdown {
    position: relative;
}

.nav-label {
    background-color: #AB644B;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding-right: 1rem;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #AB644B;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    font-size: 1.5rem;
    color: white;
}

.dropdown-content li:hover {
    color: white;
}

.parent {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
    gap: 0;
}

.navdiv {
    grid-column: span 6 / span 6;
    background-color: #AB644B;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
    background-color: #F1F3F4;
}

.div3 {
    display: flex;
    justify-content: space-around;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 7;
    background-color: #72383D;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #D2DCE6;
    position: relative;
}

.side-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1rem;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: #9CABB4;
    position: relative;
}

.div6 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 6;
    background-color: #647687;
    position: relative;
}

.lower-button {
    background-color: #72383D;
    color: #F1F3F4;
    font-size: 1.5rem;
}


/* Your site must support distinct layouts for large and small screens using media queries. Use comments to note where you completed this requirement.
You may do this in a variety of ways. For example, you can move images or switch blocks between rows (for large screens) and columns (for small). */